<div class='row'>
  <div class='col-md-10'>
  <h1><%= @list.title %></h1>
    <p><b>User: <%= current_user.username %></b></p>
    <p><b>Permisssions: <%= @list.permissions %></b></p>

    <h1>Items</h1>
    <table class='table'>
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Mark Complete</th>
      </tr>
      <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.description %></td>
        <td><%= link_to 'Mark Complete', list_item_path(@list, item), method: :delete, class: 'btn btn-default btn-sm' %></td>
      </tr>
      <% end %>
    </table>
    <%= link_to 'Back', lists_path, class: 'btn btn-default' %>
    <%= link_to 'Edit List', edit_list_path(@list), class: 'btn btn-default' %> 
    <%= link_to 'Add new item', new_list_item_path(@list), class: 'btn btn-default' %>

  </div>
</div>